@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --overpassFont: 'Overpass', sans-serif;
    --ubuntuFont: 'Ubuntu', sans-serif;

    /* Colors */
    /* Primary */
    --lightRed: hsl(356, 100%, 66%);
    -veryLightRed: hsl(355, 100%, 74%);
    --veryDarkBlue: hsl(208, 48%, 24%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grayishBlue: hsl(240, 2%, 79%);
    --veryDarkGrayishBlue: hsl(207, 12%, 34%);
    --veryDarkBlackBlue: hsl(240, 10%, 16%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    font-family: var(--overpassFont);
    font-weight: 400;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: calc(100% - 3rem);
    margin: 0 auto;
}

.header {
    background-image: url(../img/bg-pattern-intro-mobile.svg), linear-gradient(135deg, hsla(12, 100%, 72%, 1) 0%, hsla(353, 100%, 62%, 1) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: top -243px left -335px, center center;
    background-size: auto, cover;
    border-radius: 0 0 0 100px;
}

.navbar {
    padding-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar__logo {
    display: inline-block;
    width: 82px;
}

.navbar__toggler {
    width: 32px;
    height: 18px;
    background-color: transparent;
    background-image: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: 0;
    cursor: pointer;
}

.navbar__toggler--active {
    width: 26px;
    height: 26px;
    background-image: url(../img/icon-close.svg);
}

.nav__container {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 2.313rem;
    background-color: #ffffff;
    padding: 1.5rem 1.5rem 2rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.nav__container--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.nav__item {
    width: 100%;
    text-align: center;
}

.nav__link {
    display: inline-flex;
    align-items: center;
    gap: 0.563rem;
    font-weight: 400;
    color: #1F3E5A;
    font-size: 1.125rem;
    line-height: 28px;
}

.nav__link-arrow {
    width: 8px;
    height: 5px;
    background-image: url(../img/icon-arrow-dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: transform .3s ease-in-out;
}

.nav__link--active {
    color: rgba(31, 62, 90, .75);
}

.nav__link--active .nav__link-arrow {
    transform: rotate(-180deg);
}

.dropdown-menu {
    width: 100%;
    background-color: #EFEFF0;
    max-height: 0;
    margin-top: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.nav__link--active + .dropdown-menu {
    margin-top: 1.5rem;    
    opacity: 1;
}

.dropdown-menu__item {
    margin-top: 0.75rem;
}

.dropdown-menu__item:first-of-type {
    margin-top: 0;
    padding-top: 1.063rem;
}

.dropdown-menu__item:last-of-type {
    padding-bottom: 1.563rem;
}

.dropdown-menu__link {
    color: #1F3E5A;
    font-size: 1rem;
    line-height: 28px;
}

.nav__auth {
    margin-top: 1.5rem;
    padding-top: 1.188rem;
    border-top: 1px solid #E8E4E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
}

.nav__auth-link {
    display: inline-block;
    color: #1F3E5A;
    font-size: 1.125rem;
    line-height: 28px;
}

.nav__auth-link--alt {
    font-family: var(--ubuntuFont);
    font-weight: 700;
    padding: 0.938rem 2.438rem 0.938rem 2.5rem;
    font-size: 1rem;
    line-height: 18px;
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    border-radius: 28px;
    color: #ffffff;
}

.hero {
    padding: 6.75rem 0 9.75rem;
    text-align: center;
    color: #ffffff;
}

.hero__title {
    font-size: 2.25rem;
    line-height: 46px;
    letter-spacing: -1.08px;
    font-weight: 400;
}

.hero__subtitle {
    margin-top: 0.875rem;
    font-size: 1.125rem;
    line-height: 23px;
}

.hero__cta {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero__cta-btn {
    border: 1px solid transparent;
    border-radius: 28px;
    font-family: var(--ubuntuFont);
    font-weight: 700;
    padding: 0.875rem 0.938rem 0.875rem 1rem;
    font-size: 1rem;
    line-height: 18px;
    background-color: #ffffff;
    color: var(--lightRed);
    cursor: pointer;
}

.hero__cta-btn--alt {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 0.875rem 1.438rem 0.875rem 1.5rem;
}

.section {
    padding: 6.25rem 0;
    text-align: center;
}

.section--two {
    padding: 4.938rem 0 6.25rem;
}

.section__title {
    font-size: 1.75rem;
    line-height: 35px;
    letter-spacing: -0.84px;
    font-weight: 400;
    color: var(--veryDarkBlue);
}

.section__mobile-bg-editor {
    margin: 2.875rem auto;
    width: 326px;
    height: 326px;
    background-image: url(../img/illustration-editor-mobile.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section__mobile-bg-laptop {
    margin: 0 auto 2.875rem;
    width: 328px;
    height: 326.5px;
    background-image: url(../img/illustration-laptop-mobile.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

.section__info-container {
    display: grid;
    gap: 2.5rem;
}

.section__info-title {
    font-size: 1.75rem;
    line-height: 32px;
    font-weight: 400;
    color: var(--veryDarkBlue);
}

.section__info-title--introducing {
    height: 66px;
}

.section__info-title--robust {
    height: 75px;
}

.section__info-title--free {
    height: 45px;
}

.section__info-title--powerful {
    height: 45px;
}

.section__info-text {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: var(--veryDarkGrayishBlue);
}

.state {
    padding-top: 173px;
}

.state__container {
    background-image: url(../img/bg-pattern-circles.svg) ,linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
    background-repeat: no-repeat, no-repeat;
    background-size: 602px 604px, cover;
    background-position: top -237px left -113px, center center;
    border-radius: 0px 100px;
    position: relative;
    text-align: center;
    color: #ffffff;
    padding: 13.813rem 1.5rem 5.813rem;
}

.state__img {
    width: 328px;
    height: 347px;
    background-image: url(../img/illustration-phones.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 108%;
    position: absolute;
    top: -173px;
    left: 50%;
    transform: translateX(-50%);
}

.state__title {
    font-size: 2.5rem;
    line-height: 51px;
    letter-spacing: -1.2px;
}

.state__text {
    margin-top: 1.875rem;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.5px;
    height: 179px;
}

